# programming 
*.[oa]
test

# generated
*eps

# folders
BACKUP
Test
data_BigDog
own

# Ignore the folders
*cx
*ods
*pdf
*dat
*zip
*dia
*txt

# Ignore everything starting with dot, exept .gitignore
.*
!.gitignore
