# Ignore objects and archives.
*.[oa]

# Ignore the folders
doc
Debug
LAL EXE
Test
test_Dir
generator
own

# Ignore the exec file and everything created by the program
match
new
main
gen
sqt
lal
test
*.out
*dat

# Ignore everything starting with dot, exept .gitignore
.*
!.gitignore

# Other thins
parameters.data
to_Plot.data
*.dia
